# React / Node.js
node_modules/
/smartscan-web/build/
/smartscan-web/.env*
/smartscan-web/npm-debug.log*
/smartscan-web/yarn-debug.log*
/smartscan-web/yarn-error.log*
/smartscan-web/.DS_Store
/smartscan-web/coverage/
/smartscan-web/.pnp
/smartscan-web/.pnp.js

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environments
.venv
env/
venv/
ENV/

# Uploads e resultados
uploads/
results/